@model FlCash.Data.Achievement

@{
    ViewData["Title"] = "Create Achievement";
}

<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-horizontal card card-info">
                <div class="card-header">
                    <h3 class="card-title">Achievements</h3>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Coins" class="control-label"></label>
                        <input asp-for="Coins" class="form-control" />
                        <span asp-validation-for="Coins" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Logo" class="control-label"></label>
                        <input style="padding:3px;" type="file" asp-for="Logo" class="form-control" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NumberOfQuestion" class="control-label"></label>
                        <input asp-for="NumberOfQuestion" class="form-control" />
                        <span asp-validation-for="NumberOfQuestion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create Mode" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-info">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

